#submitButton:hover{
    background-color: transparent;
    color: rgb(193, 4, 4);
}

#learnMore:hover{
    background-color: transparent;
    color: rgb(193, 4, 4);
}

#submitButton2:hover{
    background-color: transparent;
    color: rgb(193, 4, 4);
}